:host {
  .item-list:nth-child(odd) {
    background: #f1f4ff;
    border-left: 3px solid #4b90d3;
  }

  .item-list:nth-child(even) {
    background: #ffffff;
    border-left: 3px solid rgb(54, 27, 136);
  }

  ion-item:active .item-inner {
    background-color: rgb(54, 27, 136);
  }

  ion-item:active.item-md p {
    color: #fff !important;
  }

  .warning {
    color: rgb(233, 237, 58);
    font-size: 2em;
  }

  .message-warning {
    font-size: 1em;
    text-align: center;
    padding: 15px;
  }

  /****************************************************
			LOADING PERSONALIZADO
			<div class="loader"></div>
	****************************************************/

  .loader {
    border-left: 3px solid #f3f3f3;
    /* Light grey */
    border-right: 3px solid #f3f3f3;
    border-top: 3px solid var(--ion-color-primary);
    border-bottom: 3px solid var(--ion-color-primary);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
  }

  .contloading {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .textloading {
    text-align: center;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  /****************************************************
		FIN LOADING PERSONALIZADO
  ****************************************************/
}
