:host {

  .item.md,
  .text,
  .auth-page .scroll-content .login-content .list-form ion-item input,
  .auth-page .scroll-content .login-content .list-form ion-item ion-label {
    color: #fff;
  }

  .list-form {
    ion-item {
      --border-color: #dedede;
      margin: 13px 8px 0 0;

      ion-label {
        display: flex;
        margin-top: 11px;
        margin-bottom: 10px;

        ion-icon {
          margin-right: 8px;
        }
      }
    }

    .item-native {
      padding-inline-start: 0 !important;
    }

    ion-icon {
      display: inline-block;
      font-size: 1.2em;
    }
  }

  ion-text.item-transparent {
    display: block;
    background-color: rgba(0, 0, 0, .3);
    border-color: transparent;
    color: white;
    bottom: 10px;
  }

  .item-select .label-md {
    color: #fff;
  }

  ion-item.item-transparent {
    --background: none;
    --border-color: #dedede;
    --color: #fff;
    padding-right: 8px;
  }

  .language-sel-wrapper {
    padding-left: 16px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
  }

  ion-button {
    margin: 0;
  }

  .button-wrapper {
    ion-button.text {
      margin-bottom: 10px;
    }
    p.text {
      margin-bottom: 10px;
    }
  }
}

:host(.item-label-floating) .item-native {
  padding-inline-start: 0 !important; 
}