:host {
  .image-container {
    height: 100%;
  }
  .imgContainer {
    height: 50%;
  }

  .left-arrow, .right-arrow {
    font-size: 30px;
    color:white;
  }
  .textImage{
    width: 35vw;
  }

  .textImage{
    animation: float 2s ease-in-out infinite;
    transition: all 0.4s ease-in-out;
  }

  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-2px);
    }
    100% {
      transform: translatey(0px);
    }
  }

}
